[Unit]
Description=Gosun Cloud Resource Moniter Server
After=syslog.target network.target

[Service]
Type=simple
Environment="JAVA_OPTS=-Dorange.env=staging -Dorange.roles=job,db,web"
ExecStart=/bin/bash /opt/orange/current/bin/orange


[Install]
WantedBy=multi-user.target
